// - Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

$primary-color: #4c6ef5;
$primary-tint1: #708bf7;
$primary-tint2: #94a8f9;
$primary-shade1: #3d58c4;
$primary-shade2: #2e4293;
$gray1: #f1f3f5;
$gray2: #dee2e6;
$gray3: #adb5bd;
$gray4: #495057;
$gray5: #212529;
$danger-color: #fa5252;
$danger-shade: #f03e3e;
$success-color: #40c057;
$success-shade: #37b24d;
$warning-color: #fab005;
$warning-shade: #f59f00;
